@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-color: #cfcfcf;
}

body {
  background-color: #cfcfcf;
}

.just-another-hand {
  font-family: 'Just Another Hand', cursive;
}

.input-borders {
  resize: none;
  border: 1px solid #780000;
  opacity: 1;
  font-size: 36px;
  width: 420px;
  height: 60px;
}

.button {
  width: 80px;
  height: 36px;
  background: #780000;
  border-radius: 107px;
}

.button-text {
  border: 1px solid #B11A1A;
  color: #CFCFCF;
  top: 'calc(50% - 36px/2 + 336px)';
  font-size: 30x;
  font-weight: 400;
  line-height: 36px;
}

.commission-button {
  height: 36px;
  background: #780000;
  border-radius: 107px;
  border: 1px solid #B11A1A;
  color: white;
  top: 'calc(50% - 36px/2 + 336px)';
  font-size: 30x;
  font-weight: 400;
  line-height: 36px;
  padding: 0 10px;
}

.commission-button.closebutton {
  background: #3B82F6;
  border: 1px solid #3B83F6;
}

.header-font{
  color: #780000;
  font-size: '3em'; 
}


.header-format{
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 225px); /* You can adjust the height as needed */
  gap: 50px; /* Adjust the gap between tiles */
  padding: 50px;
}
.tile-container-admin {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 225px); /* You can adjust the height as needed */
  gap: 5px; /* Adjust the gap between tiles */
  /* padding: 10px; */
}

.tile {
  background-color: #ccc; /* Adjust the background color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* background-color: white; */
  border-width: 5px;
  border-color: white;
}

.tile-admin {
  background-color: #ccc; /* Adjust the background color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* background-color: white; */
  border-width: 5px;
  border-color: white;
  /* height: 75%; */
  height: 175px;
  /*width: 50%; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 50; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1010;
}

.modal-content-update {
  /* font-size: 30px; */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1010;
  width: 50%;  
  max-width: 800px;
  height: auto;  
  max-height: 80vh;
  overflow-y: auto;
}


.modal-overlay-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(255, 255, 255); Semi-transparent black overlay */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 50; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  z-index: 60; /* Ensure the popup is above the overlay */
  position: absolute; /* Position the popup relative to its containing element */
  top: 50%; /* Position the popup vertically at the center */
  left: 50%; /* Position the popup horizontally at the center */
  transform: translate(-50%, -50%); /* Center the popup */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #780000; /* red */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #4E0000; /* Darker red */
}

.update-delete-button {
  padding: 5px 10px;
  background-color: #780000; /* red */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-delete-button:hover {
  background-color: #4E0000; /* Darker red */
}
/* For forgot password page */
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* index.css or App.css */
body, button, input, h1, h2, h3, h4, h5, h6, label {
  font-family: 'Just Another Hand', cursive !important;
}

/* index.css or App.css */

/* Tabs: Sign In / Create Account */
.amplify-tabs button {
  font-size: 26px !important;
  font-family: 'Just Another Hand', cursive !important;
  
}

/* Labels: Email, Password */
.amplify-label {
  font-size: 22px !important;
  font-family: 'Just Another Hand', cursive !important;
}

/* Input Fields */
.amplify-input {
  font-size: 20px !important;
  font-family: 'Just Another Hand', cursive !important;
}

/* Buttons: Sign In */
.amplify-button {
  font-size: 24px !important;
  font-family: 'Just Another Hand', cursive !important;
}

/* Footer Links: Forgot your password? */
.amplify-footer {
  font-size: 18px !important;
  font-family: 'Just Another Hand', cursive !important;
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
  --amplify-components-button-primary-background-color: #780000;
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px black;
  --amplify-components-tabs-item-active-border-color: #780000;
  --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
  --amplify-components-tabs-item-active-color: black;
  --amplify-components-button-link-color: black;
}
