@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-color: #cfcfcf;
}

.just-another-hand {
  font-family: 'Just Another Hand', cursive;
}

.header-font{
  color: #780000;
  font-size: '3em'; 
}


.header-format{
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

